
*{
    margin: 0;
    padding: 0;
    font-family: poppins;
    color: black;
}
.content{
    margin-top: 120px;
    text-align: center;
}
.home-heading{
    font-size: 100px;
}
.home-sub-heading{
    color: #F66B0E;
}
.add-container{
    width: 50%;
}
.add-heading{
    margin-top: 50px;
margin-bottom: 50px;
color: #F66B0E;
}
.view-heading{
    text-align: center;
    margin-top: 30px;
    color: #F66B0E;
}
.view-card{
margin: 20px;
}
.view-button{
    width:100px;
}
